<!DOCTYPE html>
<html lang="zh-cn" manifest="/tiny.appcache">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        <%= title%>
    </title>
    <meta name="keywords" content="xiaozhuye,小主页,luqimin,个人主页,网址导航,个性主页,vuejs,thinkjs">
    <meta name="description" content="小主页是一个轻量级的、可定制的个人主页, 您完全可以把小主页设置成您的首页">
    <!-- Bootstrap -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/static/img/applogo.png">
    <link rel="apple-touch-icon-precomposed" href="/static/img/applogo.png">
    <link rel="apple-touch-startup-image" href="/static/img/applogo.png">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="app"></div>
<script src="/static/js/xiaozhuye/index.8d596f.js"></script>
</body>

</html>